@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans), "Pretendard", system-ui, -apple-system,
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #171717;
  color: #fff;
}
